<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="matchMapper">
	<!-- sql -->
	<sql id="careListSql">
		SELECT M.MEM_NAME, 
				M.MEM_ID, 
				C.CARE_NO 
				I.IMG_NAME_SAV
		FROM MEMBER M
		JOIN CAREGIVER_PROFILE C ON (M.MEM_ID = C.MEM_ID) 
		JOIN CARE_IMAGE I ON (C.CARE_NO = I.CARE_NO)
		WHERE M.STATUS = 'Y' 
		AND M.MEM_ROLE = 'caregiver'
	</sql>
	
	<!-- resultMap -->
	<resultMap type="Care" id="careResultMap">
		<id property="careNo" column="CARE_NO"/>
		<result property="careGen" column="CARE_GEN"/>
		<result property="careLicense" column="CARE_LICENSE"/>
		<result property="careYears" column="CARE_YEARS"/>
		<result property="careHistory" column="CARE_HISTORY"/>
		<result property="carePlus" column="CARE_PLUS"/>
		<result property="careTime" column="CARE_TIME"/>
		<result property="carePlace" column="CARE_PLACE"/>
		<result property="careSal" column="CARE_SAL"/>
		<result property="careIntro" column="CARE_INTRO"/>
		<result property="memId" column="MEM_ID"/>
	</resultMap>
	
	<resultMap type="CareImage" id="careImageResultMap">
		<id property="imgNo" column="IMG_NO"/>
		<result property="careNo" column="CARE_NO"/>
		<result property="imgDate" column="IMG_DATE"/>
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgNameOrg" column="IMG_NAME_ORG"/>
		<result property="imgNameSav" column="IMG_NAME_SAV"/>
	</resultMap>
	
	<!-- select -->
	<select id="selectCareList" parameterType="map" resultMap="careResultMap,careImageResultMap">
		<include refid="careListSql"></include>
			    
	    <if test="options.containsKey('time')">
	    	<foreach item="item" index="i" collection="options.get('time')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_TIME LIKE ( ${filter} )
	    	</foreach>
	    </if>
	    
	    <if test="options.containsKey('gender')">
	    	<foreach item="item" index="i" collection="options.get('gender')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_GEN LIKE ( ${filter} )
	    	</foreach>
	    </if>
	    
	    <if test="options.containsKey('qual')">
	    	<foreach item="item" index="i" collection="options.get('qual')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_LICENSE LIKE ( ${filter} )
	    	</foreach>
	    </if>
	    
	    <if test="options.containsKey('years')">
	    	<foreach item="item" index="i" collection="options.get('years')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_YEARS LIKE ( ${filter} )
	    	</foreach>
	    </if>
	    
	   	<if test="options.containsKey('addr')">
	    	<foreach item="item" index="i" collection="options.get('addr')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_PLACE LIKE ( ${filter} )
	    	</foreach>
	    </if>
	    
	    <if test="options.containsKey('pay')">
	    	<foreach item="item" index="i" collection="options.get('pay')" separator=",">
    			<bind name="filter" value="'%' + ${item} + '%'" />
	    		AND C.CARE_SAL LIKE ( ${filter} )
	    	</foreach>
	    </if>
	</select>
</mapper>
